<div class="row bg-info text-dark" id="itemRankPage">
    <form class="form-horizontal form-group">
        <div class="row ">
            <div class="col-lg-4 m-l m-t">

                <div class="row form-inline row m-b-xs clearfix">
                    <label class="pull-left m-l my-label" >当前医院:</label>
                    <div class="col-lg-8">
                        <!--&lt;!&ndash;<select id="u0_input" data-label="xiala-dengji">&ndash;&gt;-->
                        <select class="form-control " style="width:100%;" id="hospitalSets" ng-model="formData.hospitalId" >
                            <!--<option value="">{{queryData.hospital}}</option>-->
                            <!--to do-->
                            <option ng-repeat="obj in formData.hospitalSets" ng-selected="obj.hnameString==queryData.hospital" value="2">{{obj.hnameString}}</option>
                        </select>
                         <!--<select class="form-control " ng-options="item as item.hnameString for item in formData.hospitalSets"-->
                                 <!--style="width:100%;" id="hospitalSets" ng-model="formData.hospitalId" >-->
                            <!--&lt;!&ndash;<option value="">{{queryData.hospital}}</option>&ndash;&gt;-->
                            <!--&lt;!&ndash;to do&ndash;&gt;-->
                        <!--</select>-->

                    </div>
                </div>
                <!--<input type="text" class="form-control" id="exampleInputName2" placeholder="Jane Doe">-->
            </div>
        </div>
        <div class="row">
            <label class="col-lg-1 m-l ">查询条件：</label>
            <div class="col-lg-8 " style="margin-top:5px;padding-left:0px;">
                <span class="handcursor label bg-primary  m-r " ng-bind="formDataMap.hospitalType[queryData.hospitalType]"></span>
                <span class="handcursor label bg-primary  m-r " ng-bind="formDataMap.village" ng-show="queryData.village==true"></span>
                <span class="handcursor label bg-primary  m-r " ng-bind="formDataMap.city" ng-show="queryData.city==true"></span>
                <span class="handcursor label bg-primary  m-r">{{queryData.startTime}}至{{queryData.endTime}}</span>
                <span class="handcursor label bg-primary  m-r" ng-bind="queryData.hospital"></span>
            </div>
        </div>

    </form>

</div>
<div  class="row m-t">
    <div class="col-lg-5">
    <h4><span ng-bind="queryData.hospital"></span>医保基金使用效率各项指标排名</h4>
    <div data-iu-chart="leftechartsOption" class="m-t" style="height:480px;"></div>


    </div>
    <div class="col-lg-7">
        <div class="row">
            <h5><span ng-bind="queryData.hospital"></span>重点病种基金使用效率在同级别医院中排名概览</h5>

            <div class="col-lg-12">
                <span class="handcursor label bg-primary inline ">前10名</span>
                <!--<span class="handcursor label bg-primary inline ">后10名</span>-->
                <div data-iu-chart="rightRightEchartsOption" class="" style="height:250px;"></div>

            </div>
            <div class="col-lg-12">
                <span class="handcursor label bg-primary inline ">后10名</span>
                <!--<span class="handcursor label bg-primary inline ">前10名</span>-->
                <div data-iu-chart="rightLeftEchartsOption" class="" style="height:250px;"></div>

            </div>


        </div>


    </div>

</div>
<div class="wrapper no-padder m-l-md " style="margin:-10px 0px 0 30px;">
    <h4><span ng-bind="queryData.hospital"></span>重点病种基金使用效率排名与基金使用量综合分析</h4>
    <!--<span class="handcursor label bg-primary inline ">金额占比前10名</span>-->
    <span class="handcursor label bg-primary inline ">金额占比前30名</span>

    <div data-iu-chart="scatterEchartsOption" class="" style="height:220px;"></div>



</div>


