
<div class="col-lg-4" style="margin-left:0">
    <p class="input-group form_datetime">
        <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt_min" is-open="minDateOpened" min-date="" max-date="dt_max" datepicker-options="dateOptions" ng-required="true" close-text="Close"  />

                        <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="minDateOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>

                    </span>
    </p>
</div>