@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), url('/app/assets/fonts/sourcesanspro/sourcesanspro-light_7951903.woff') format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url('/app/assets/fonts/sourcesanspro/sourcesanspro_c4f39c8.woff') format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'), url('/app/assets/fonts/sourcesanspro/sourcesanspro-bold_1146f3f.woff') format('woff');
}