<div class="row" id="content">
    <div class="col-lg-5 content-option m-t" ng-include="'tpl/options/singleHospitalConditions.html'">


    </div>
    <div class="col-lg-7 content-echarts" >
        <h4 ng-bind="echartsTitle"></h4>
        <div data-iu-chart="echartsOption" class="m-l m-t" style="height:400px;"></div>

        <!--<div data-iu-chart="echartsOption" class="m-l m-t" style="height:400px;"></div>-->

    </div>
</div>


<!--<div class="panel b-a">-->
<!--<div ng-controller="ModalDemoCtrl" class="panel b-a">-->
    <!--<script type="text/ng-template" id="myModalContent.html">-->
        <!--<div ng-include="'tpl/modal.html'"></div>-->
    <!--</script>-->
    <!--<div class="panel-heading b-b b-light">Modal</div>-->
    <!--<div class="panel-body">-->
        <!--<button class="btn btn-success" ng-click="open()">Open me!</button>-->
        <!--<button class="btn btn-default" ng-click="open('lg')">Large modal</button>-->
        <!--<button class="btn btn-default" ng-click="open('sm')">Small modal</button>-->
    <!--</div>-->
<!--</div>-->

<!--<div class="col-lg-7 content-echarts" >-->
    <!--<h4>成都市三甲医院恶性肿瘤疾病基金效率使用排名</h4>-->
    <!--<div data-iu-chart="chartProvinceOption" class="m-l m-t" style="height:400px;"></div>-->

<!--</div>-->