<!--收费项目费用排名 -->
<!--<alert  type="info" close="closeAlert($index)">eee</alert>-->
<div class="row bg-info text-dark" id="itemRankPage" >
    <form class="form-horizontal form-group">
        <div class="row ">
            <div class="col-lg-2-4 m-l m-t">

                <div class="row form-inline row m-b-xs clearfix">
                    <label class="pull-left m-l my-label" >类型:</label>
                    <div class="col-lg-5">
                        <!--<select id="u0_input" data-label="xiala-dengji">-->
                        <select class="form-control " style="width:100%;">

                            <option value="">住院</option>
                            <option value="">门诊特殊疾病</option>
                        </select>
                    </div>
                </div>
                <div class="row form-inline row m-b-xs clearfix">
                    <label class="pull-left m-l my-label" >指标:</label>
                    <div class="col-lg-8">
                        <!--<select id="u0_input" data-label="xiala-dengji">-->
                        <select class="form-control " style="width:100%;">

                            <option value="">医保支付总额</option>
                            <option value="">次均费用</option>
                        </select>
                    </div>
                </div>
                <!--<input type="text" class="form-control" id="exampleInputName2" placeholder="Jane Doe">-->
            </div>
            <div class="col-lg-5 m-l m-t">

                <div class="row form-inline row m-b-xs clearfix">
                    <label class="pull-left m-l my-label" >险种:</label>
                    <div class="col-lg-8" style="margin-top:-7px;">
                        <label class="checkbox-inline i-checks">
                            <input type="checkbox" value="option1"><i></i>城镇
                        </label>
                        <label class="checkbox-inline i-checks">
                            <input type="checkbox" value="option2"><i></i> 城镇
                        </label>
                        <label class="checkbox-inline i-checks">
                            <input type="checkbox" value="option2"><i></i> 大病补充
                        </label>

                    </div>
                </div>
                <div class="row form-inline row m-b-xs clearfix">
                    <label class="pull-left m-l my-label" >医院:</label>
                    <div class="col-lg-4">
                        <!--<select id="u0_input" data-label="xiala-dengji">-->
                        <select class="form-control " style="width:100%;">

                            <option value="">请输入关键词搜索</option>
                            <option value="">三甲医院</option>
                            <option value="">三乙医院</option>
                            <option value="">二甲医院</option>
                            <option value="">二乙医院</option>
                        </select>
                    </div>
                    <label class="pull-left m-l my-label" >医院:</label>
                    <div class="col-lg-4">
                        <!--<select id="u0_input" data-label="xiala-dengji">-->
                        <select class="form-control " style="width:100%;">

                            <option value="">请输入关键词搜索</option>
                            <option value="">三甲医院</option>
                            <option value="">三乙医院</option>
                            <option value="">二甲医院</option>
                            <option value="">二乙医院</option>
                        </select>
                    </div>
                </div>
                <!--<input type="text" class="form-control" id="exampleInputName2" placeholder="Jane Doe">-->
            </div>
            <div class="col-lg-4  m-t" style="margin-left:-10px;">

                <div class="row form-inline input-daterange  m-b-xs clearfix">
                    <label class="pull-left m-l my-label" >时间:</label>

                    <div class="col-lg-4" style="margin-left:0">
                        <p class="input-group form_datetime">
                            <input type="text" class="form-control" name="start" ng-model="formData.startTime"  placeholder="点击选择时间"/>


                        </p>
                    </div>
                    <label class="pull-left m-l my-label" >至:</label>

                    <div class="col-lg-4" style="margin-left:0">
                        <p class="input-group form_datetime">
                            <input type="text" class="form-control" ng-model="formData.endTime" name="end"  placeholder="点击选择时间"/>


                        </p>
                    </div>
                </div>

                <div class="row form-inline row m-b-xs clearfix">
                    <label class="pull-left m-l my-label" >医生:</label>
                    <div class="col-lg-8">
                        <!--<select id="u0_input" data-label="xiala-dengji">-->
                        <select class="form-control " style="width:100%;">

                            <option value="">请输入关键词搜索</option>
                            <option value="">张三</option>
                            <option value="">李四</option>
                        </select>
                    </div>
                </div>
                <!--<input type="text" class="form-control" id="exampleInputName2" placeholder="Jane Doe">-->
            </div>
        </div>
        <div class="row">
            <label class="col-lg-2">当前条件：</label>


        </div>

    </form>

</div>
<div class="row m-t ">
    <div class="row  m-l">
        <div class="col-md-4  center" >
            <h4 class="">医保费用构成分析分析（大类）</h4>
                    <!--<div style="height:250px;" data-iu-chart="hugeFeeAnalyzePieOption">-->

                    <!--</div>-->
            <div data-iu-chart="hugeFeeAnalyzePieOption"  style="height:300px;"></div>


        </div>
        <div class="col-md-8 " >
            <h4 class="">医保费用构成分析（大类）</h4>

            <select class="form-control  pull-left m-l-lg " style="width:30%;">
                <option value="医保支付费用">医保支付费用</option>
                <option value="次均费用">次均费用</option>
                <option value="次均费用增幅">次均费用增幅</option>
                <option value="医保支付费用增幅">医保支付费用增幅</option>
            </select>

            <!--<span class="handcursor   label bg-primary inline m-r-lg pull-right" style="font-size:15px;">前20名</span>-->
            <!--<span class="handcursor   label bg-primary inline m-r pull-right" style="font-size:15px;">前10名</span>-->
            <!--<span class="handcursor   label bg-primary inline m-r pull-right" style="font-size:15px;">前5名</span>-->
            <div data-iu-chart="hugeFeeAnalyzeBarOption"  style="height:280px;"></div>

        </div>

    </div>
    <div class="row m-r">
        <div class="col-md-4 " >
            <h4 class="">医保费用构成分析分析（小类）</h4>
            <div data-iu-chart="hugeFeeAnalyzePieOption"  style="height:300px;"></div>


        </div>
        <div class="col-md-8 " >
            <h4 class="">医保费用构成分析（小类）</h4>

            <select class="form-control  pull-left m-l-lg " style="width:30%;">
                <option value="医保支付费用">医保支付费用</option>
                <option value="次均费用">次均费用</option>
                <option value="次均费用增幅">次均费用增幅</option>
                <option value="医保支付费用增幅">医保支付费用增幅</option>
            </select>

            <!--<span class="handcursor   label bg-primary inline m-r-lg pull-right" style="font-size:15px;">前20名</span>-->
            <!--<span class="handcursor   label bg-primary inline m-r pull-right" style="font-size:15px;">前10名</span>-->
            <!--<span class="handcursor   label bg-primary inline m-r pull-right" style="font-size:15px;">前5名</span>-->
            <div data-iu-chart="hugeFeeAnalyzeBarOption"  style="height:280px;"></div>

        </div>

    </div>
</div>
<script>
    $('.input-daterange').datepicker({
        format: "yyyy-mm-dd",
        clearBtn:true,
        todayHighlight:true,
        toggleActive:true
    });

</script>