body{
    /*height:900px;*/
}
#wrapper{
    margin:0 auto;
    padding-top:0px;


}
#menu{
    background:#e2e2e2;
    height:100%;
}
#header{
}


#header img {

    width:100px;
    padding-top:5px;
    height:100px;
}

#header h3{
    display:inline-block;
    margin-left:25px;
    line-height:18px;
}

#header li{
    /*border-right:1px solid #eee;*/
}
#nav{
    margin:10px auto;

}

#content{
    border-top:1px solid #eee;
}
label{
    padding-right:20px;
    line-height:34px;
}

#content .content-option{
    border-right:1px solid #eee;
}

#content .content-echarts{
    height:400px;
}

#menu i{
    margin-right:-8px;
    margin-top:-12px;
}
#menu ul li> a {
    padding-left:40px;
}
.navi ul.nav li a{
    padding:6px 20px;
}


.my-col-lg-1{
    width:2.1%;
    float:left;
    position:relative;
    height:700px;
}
.my-col-lg-1 #slide-in-out{
   margin-top:350px;
}

.my-col-lg-1 button{
    border-radius:0 5px 5px 0;
    margin-left:15px;
    width:10%;
    height:80px;
 }
#itemRankPage label{
    margin-right:0px;
    padding-right:0px;
}

.handcursor{
    cursor:pointer;
}
h4{
    text-align:center;
}